#battle-arena {
  opacity: 0;
  position: relative;
  overflow: hidden;
  width: 400px !important;
  height: 400px !important;
  margin: auto;
  background-image: url('./images/human-attack-base.png')
}

.couch {
  background-position: center;
  background-image: url('./images/couch.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.test {
  /* border: solid salmon 1px; */
}

.player {
  margin: auto;
  height: 200px !important;
  width: 200px !important;
  margin-top: 10px;
}

.cat {
  background-size: contain;
  background-image: url('./images/human-attack-base.png')
}

.human {
  background-size: contain;
  background-image: url('./images/human.png')
}

.pet {
  background-image: url('./images/hand.png');
}

.brush {
  background-image: url('./images/brush.png');
}

.push-down {
  left: 150px !important;
  background-image: url('./images/push-down.png');
}

.grab {
  left: 50px !important;
  background-image: url('./images/grab.png');
}

/* Car */
.scratch {
  left: 123px !important;
  background-image: url('./images/scratch.png');
}

.bite {
  left: 123px !important;
  background-image: url('./images/bite.png');
}

.cat-grab {
  left: 123px !important;
  background-image: url('./images/cat-grab.png');
}

.grab-and-kick {
  left: 123px !important;
  background-image: url('./images/grab-kick.png');
}

#attack-object {
  height: 88px !important;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -88px;
  left: 0px;
  background-size: contain;
}